<!-- index.html -->
{% extends "templates/layouts/default.html" %}

{% block content %}
    <div class="o-grid">
        <div class="o-grid__col o-grid__col--6of12 o-grid__col--4of12AtMd o-grid__col--3of12AtLg">col</div>
        <div class="o-grid__col o-grid__col--6of12 o-grid__col--4of12AtMd o-grid__col--3of12AtLg">col</div>
        <div class="o-grid__col o-grid__col--6of12 o-grid__col--4of12AtMd o-grid__col--3of12AtLg">col</div>
        <div class="o-grid__col o-grid__col--6of12 o-grid__col--4of12AtMd o-grid__col--3of12AtLg">col</div>
        <div class="o-grid__col o-grid__col--6of12 o-grid__col--4of12AtMd o-grid__col--3of12AtLg">col</div>
        <div class="o-grid__col o-grid__col--6of12 o-grid__col--4of12AtMd o-grid__col--3of12AtLg">col</div>
        <div class="o-grid__col o-grid__col--6of12 o-grid__col--4of12AtMd o-grid__col--3of12AtLg">col</div>
        <div class="o-grid__col o-grid__col--6of12 o-grid__col--4of12AtMd o-grid__col--3of12AtLg">col</div>
        <div class="o-grid__col o-grid__col--6of12 o-grid__col--4of12AtMd o-grid__col--3of12AtLg">col</div>
        <div class="o-grid__col o-grid__col--6of12 o-grid__col--4of12AtMd o-grid__col--3of12AtLg">col</div>
        <div class="o-grid__col o-grid__col--6of12 o-grid__col--4of12AtMd o-grid__col--3of12AtLg">col</div>
        <div class="o-grid__col o-grid__col--6of12 o-grid__col--4of12AtMd o-grid__col--3of12AtLg">col</div>
    </div>
    <div class="o-grid">
        <div class="o-grid__col o-grid__col--6of12 o-grid__col--push6of12"> 6of12 push6o12 (1st in dom)</div>
        <div class="o-grid__col o-grid__col--6of12 o-grid__col--pull6of12"> 6of12 pull6o12 (2nd in dom)</div>
    </div>
    <div class="o-grid">
        <div class="o-grid__col o-grid__col--12of12 o-grid__col--8of12AtMd o-grid__col--push2of12AtMd o-grid__col--6of12AtLg o-grid__col--push3of12AtLg">
            At small: 12of12<br/>
            At Medium: 8of12, push2of12<br/>
            At Large: 6of12, push3of12
        </div>
    </div>
    <div class="o-blocks o-blocks--5up">
        <div>1</div>
        <div>1</div>
        <div>1</div>
        <div>1</div>
        <div>1</div>
    </div>
    <div>
        <ul class="o-hList">
            <li>Horizontal List item (default)</li>
            <li>Horizontal List item (default)</li>
            <li>Horizontal List item (default)</li>
        </ul>
    </div>
    <div>
        <ul class="o-hList o-hList--joined">
            <li>Horizontal List item (joined)</li>
            <li>Horizontal List item (joined)</li>
            <li>Horizontal List item (joined)</li>
        </ul>
    </div>
    <div>
        <ul class="o-hList o-hList--piped">
            <li>Horizontal List item (piped)</li>
            <li>Horizontal List item (piped)</li>
            <li>Horizontal List item (piped)</li>
        </ul>
    </div>
    <div>
        <div class="o-vr">Vertical rhythm (default - .o-vr)</div>
        <div class="o-vr o-vr--2x">Vertical rhythm (default - .o-vr--2x)</div>
        <div class="o-vr o-vr--3x">Vertical rhythm (default - .o-vr--3x)</div>
        <div class="o-vr o-vr--4x">Vertical rhythm (default - .o-vr--4x)</div>
        <div class="o-vr o-vr--5x">Vertical rhythm (default - .o-vr--5x)</div>
    </div>
    <div class="o-vr o-vr--4x">
        <ul class="o-vList o-vList">
            <li>Vertical List item (default)</li>
            <li>Vertical List item (default)</li>
            <li>Vertical List item (default)</li>
            <li>Vertical List item (default)</li>
        </ul>
    </div>
    <div class="o-vr o-vr--4x">
        <ul class="o-vList o-vList--2x">
            <li>Vertical List item (2x)</li>
            <li>Vertical List item (2x)</li>
            <li>Vertical List item (2x)</li>
            <li>Vertical List item (2x)</li>
        </ul>
    </div>
    <div class="o-vr o-vr--4x">
        <ul class="o-vList o-vList--2x o-vList--divided">
            <li>Vertical List item (2x & divided)</li>
            <li>Vertical List item (2x & divided)</li>
            <li>Vertical List item (2x & divided)</li>
            <li>Vertical List item (2x & divided)</li>
        </ul>
    </div>
    <div class="o-vr o-vr--4x">
        <div class="o-media">
            <div class="o-media__el"><img src="//www.fillmurray.com/100/150" alt=""></div>
            <div class="o-media__bd">
                Post-ironic cred photo booth, squid plaid asymmetrical tilde Williamsburg dreamcatcher DIY letterpress PBR direct trade literally typewriter. Bitters chambray sriracha Vice, farm-to-table Shoreditch gentrify keffiyeh pop-up squid taxidermy. Crucifix bicycle rights street art YOLO. Keffiyeh listicle Intelligentsia normcore gastropub. Whatever polaroid sriracha, four loko 90's High Life semiotics occupy plaid gastropub kale chips. Squid locavore cliche chillwave put a bird on it, umami crucifix aesthetic hella tilde. Raw denim synth dreamcatcher, locavore Kickstarter Bushwick blog flexitarian cold-pressed four loko swag try-hard.
            </div>
        </div>
        <div class="o-vr o-vr--4x">
            <ul class="o-hList">
                <li><a href="#" class="o-btn">Go</a></li>
                <li><span class="o-btn">Go</span></li>
                <li><button class="o-btn">Go</button></li>
                <li><input type="submit" value="Go" class="o-btn"></li>
            </ul>
        </div>
        <div class="o-vr o-vr--4x">
            <form action="" class="o-form">
                <div class="o-form__group o-form__group--12of12 o-form__group--4of12AtLg">
                    <label for="input1" class="o-form__group__label">Form Input 1</label>
                    <div class="o-form__group__field"><input type="text" id="input1" class="o-field" /></div>
                </div>
                <div class="o-form__group o-form__group--12of12 o-form__group--6of12AtMd o-form__group--4of12AtLg">
                    <label for="input2" class="o-form__group__label">Form Input 1</label>
                    <div class="o-form__group__field"><input type="text" id="input2" class="o-field" /></div>
                </div>
                <div class="o-form__group o-form__group--12of12 o-form__group--6of12AtMd o-form__group--4of12AtLg">
                    <label for="input3" class="o-form__group__label">Form Input 1</label>
                    <div class="o-form__group__field"><input type="text" id="input3" class="o-field" /></div>
                </div>
            </form>
        </div>
        <div class="o-vr o-vr--4x">
            <table class="o-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}